#slackimg {
    background-image: url('https://spider-slacklines.com/images/2022/03/26/Quale-Longline-devo-scegliere-se-ho-dell-esperienza-e-voglio-camminare-per-piu-di-50-m.jpg');
    background-size: cover;
    background-position: center;
    min-height: 300px;
}