#one {
    height: 100vh;
}

#two {
    background-color: white;
    min-height: 100vh;
}

.activitySection {
    min-height: 400px;
}

#leadFoto {
    background-image: url('../../../../public/img/fotoLead.HEIC');
    background-size: cover;
    background-position: center -200px;
    min-height: 400px;
}

#boulderFoto {
    background-image: url('../../../../public/img/boulderFoto.JPG');
    background-size: cover;
    background-position: center ;
    min-height: 400px;
}

#slackBlock {
    background-color: #afafaf;
}

.navbar-toggler {
    background-color: white !important;
    color: white !important;
}

@media screen and (max-width: 912px) {
    #leadFoto {
        background-position: center;
    }
}

@media screen and (max-width: 773px) {
    
}