<div class="container-fluid">
    <div class="col-md-8 mx-auto py-5">
        <div class="row  text-center">
            <h1>Lead</h1>
            <p>
                La nostra missione è far conoscere a tutti il mondo dell’arrampicata e della vita outdoor, dai più
                grandi ai
                più piccoli.
            </p>
            <p>
                Per farlo siamo pronti a rispondere ad ogni vostra necessità, ovunque vi troviate e per qualsiasi
                occasione
                in tempi brevi e in tutta sicurezza! <br>
                Sagra di paese?
                Eventi di team building?
                Feste private o aziendali?
                Le nostre torri sono adatte ad ogni situazione.
            </p>
            <p>
                Tutto ciò di cui sei alla ricerca con noi puoi trovarlo. Le nostre Climbing Tower hanno altezze e
                dimensioni
                differenti, si adattano ad ogni situazione e ambiente per rendere il tuo evento indimenticabile.
            </p>
            <p>
                Con un furgone o un carrello portiamo ovunque le nostre strutture.
            </p>
            <p>
                Le strutture vengono caricate su un furgone e si adattano ad ogni tipologia di suolo e situazione. Si
                montano sia in città che al mare, sia in montagna che in spiaggia.
            </p>
        </div>
        <div class="row mt-5">
            <div class="col-md-8">
                <h2 class="text-center">Struttura In Legno</h2>
                <p>
                    É la torre più alta, con un’altezza pari a 8 metri e una larghezza pari a 2,5 metri.
                </p>
                <p>
                    La parete è costruita in legno mentre la struttura autoportante è costituita da una struttura in
                    metallo.

                </p>
                <p>
                    L’intera struttura è autoportante, ma per resistere a forti raffiche di vento viene comunque
                    zavorrata al terreno tramite zavorre fornite all’interno del pacchetto.

                </p>
                <p>
                    Su questo modello è possibile arrampicare fino a due persone contemporaneamente utilizzando corde e
                    imbragature.

                </p>
                <p>
                    Non sono necessarie scarpette da arrampicata, è possibile arrampicare con le proprie scarpe.

                </p>
                <p>
                    La struttura è fruibile da tutti, senza limiti di età e altezza.
                </p>
                <ul>
                    <li>Tempo di montaggio: 3 ore *</li>
                    <li>Tempo di smontaggio: 2 ore* </li>
                </ul>
                <p>
                    *Tempistiche variabili in base alla tipologia di terreno e contesto.
                </p>
            </div>
            <div class="col-md-4" id="legnoimg"></div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4"  id="rocciaimg"></div>
            <div class="col-md-8">
                <h2>Strutture In Finta Roccia</h2>
                <p>
                    Trasportate con carrelli di lunghezza totale pari a 10 metri, che una volta posizionati tramite
                    pistoni e leve alzano la struttura.

                </p>
                <p>
                    Ha un’altezza pari a 8 metri e larghezza pari a 2,5.
                    Arrampicabile su 3 lati

                </p>
                <p>
                    Su questo modello è possibile arrampicare fino a tre persone contemporaneamente utilizzando corde e
                    imbragature.


                </p>
                <p>
                    Non sono necessarie scarpette da arrampicata, è possibile arrampicare con le proprie scarpe.


                </p>
                <p>
                    La struttura è fruibile da tutti, senza limiti di età e altezza.


                </p>
                <ul>
                    <li>Tempo di montaggio: 1 ora *</li>
                    <li>Tempo di smontaggio: 1 ora* </li>
                </ul>
                <p>
                    *Tempistiche variabili in base alla tipologia di terreno e contesto.
                </p>
            </div>
        </div>
        <div class="row mt-5 text-center">
            <div class="col-md-12">
                <h2>Pacchetti Forniti</h2>
            </div>
            <div class="col-md-6">
                <b>Pacchetto Base</b>
                All’interno di questo pacchetto potete trovare:
                <ul>
                    <li>Trasporto, montaggio e smontaggio della struttura </li>
                    <li>Certificazione strutturale </li>
                    <li>Assicurazione RCA con massimale di 5.000.000 € </li>
                    <li>Dichiarazione di corretto montaggio </li>
                </ul>
            </div>
            <div class="col-md-6">
                <b>Pacchetto Avanzato</b>
                All’interno di questo pacchetto potete trovare:
                <ul>
                    <li>Trasporto, montaggio e smontaggio della struttura </li>
                    <li>Certificazione strutturale </li>
                    <li>Assicurazione RCA con massimale di 5.000.000 € </li>
                    <li>Dichiarazione di corretto montaggio </li>
                    <li>Materiale per la sicurezza come: corde, imbraghi, assicuratori</li>
                    <li>Personale certificato addetto al presidio e all’assistenza sulla torre.</li>
                </ul>
            </div>
        </div>
    </div>
</div>