<div class="container-fluid">
    <div class="col-md-8 mx-auto text-center py-5">
        <h1 class="mb-5">Certificazioni</h1>
        <p>
            <b> Strutture:</b> certificazione en 12572 aggiornata al 2017. 
            <br>
            <b>Certificazione strutturale</b> che certifica la solidità strutturale in caso di vento fino a 100km/h.
            <br>
            <b>Materassi: </b>certificazione di materassi anticaduta secondo norma uni en 12572 aggiornata al 2017.
            Materassoni anticaduta testati sotto sforzo per evitare incidenti in caso di caduta
        </p>
    </div>
</div>