<div class="container-fluid text-white bg-black" id="contatti">
    <div class="col-md-8 mx-auto text-center py-5">
        <h1>Contatti</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua.
        </p>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="material-symbols-outlined">
                    call
                </span>
                <br>
                +39 342 650 6425
            </div>
            <div class="col-md-4">
                <span class="material-symbols-outlined">
                    mail
                </span>
                <br>
                info.wallparty&#64;gmail.com
            </div>
            <div class="col-md-4">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <br>
                Via Enrico Fermi, 130, 21040 Uboldo VA
            </div>
        </div>
    </div>
</div>