<div class="container-fluid">
    <div class="col-md-8 mx-auto py-5">
        <div class="row">
            <div class="col-md-8">
                <h1>Boulder</h1>
                <p>
                    Abbiamo una soluzione anche per chi teme l’altezza e vuole sperimentare l’emozione dell’arrampicata!
                </p>
                <ul>
                    <li>
                        La parete boulder ha un’altezza pari a 4 metri.
                    </li>
                    <li>
                        Larghezza variabile da 3 a 39 metri.
                    </li>
                    <li>
                        La struttura è in legno mentre la struttura posteriore autoportante è in metallo.
                    </li>
                    <li>
                        La parete è costituita da moduli di larghezza pari a 3 metri: è possibile noleggiare uno o più
                        moduli.
                    </li>
                    <li>
                        Ogni modulo può essere installato con inclinazione variabile di 0° - 10° - 20° - 30° e l’altezza
                        massima varia in base all’inclinazione del modulo stesso.
                    </li>
                    <li>
                        La struttura è autoportante ma comunque zavorrata per renderla più stabile anche in caso di
                        forte vento (zavorre fornite direttamente da noi).
                    </li>
                    <li>
                        La struttura viene inoltre fornita con materassi di protezione per la caduta.
                    </li>
                    <li>
                        Tempo di montaggio: da 1 a più giornate
                    </li>
                    <li>
                        Tempo per lo smontaggio: da 1 a più giornate
                    </li>
                </ul>
                <h2 class="mt-5">Pacchetto Fornito</h2>
                <ul>
                    <li>Trasporto, montaggio e smontaggio della struttura </li>
                    <li>Certificazione di calcolo strutturale </li>
                    <li>Assicurazione RCA con massimale di 5.000.000 € </li>
                    <li>Dichiarazione di corretto montaggio </li>
                    <li>Materassi di protezione </li>
                </ul>
                <p>In aggiunta a questo pacchetto si può richiedere il personale che gestisce gli usufruitori della struttura e le prese/appigli utili al gesto arrampicatorio.
                </p>
            </div>
            <div class="col-md-4" id="boulderphotos">
                <img src="./img/boulderFoto.JPG">
                <img src="./img/boulder2.jpg">
            </div>
        </div>
    </div>
</div>