<div class="container-fluid">
    <div class="col-md-8 mx-auto py-5">
        <div class="row">
            <div class="col-md-8">
                <h1 class="text-center mb-5">Chi Siamo</h1>
                <p>
                    Wallparty è l’unione di un gruppo di giovani ragazzi legati dalla forte passione per l’arrampicata e la vita
                    outdoor.
                </p>
                <p>
                    L’emozione della scalata, dello stare insieme all’aria aperta condividendo l’entusiasmo per questo sport,
                    che regala momenti indimenticabili ed emozioni uniche, ci ha portato a dare vita a questo progetto.
                    Guidati da questa intensa passione, che condiziona da anni il nostro modo di vivere, ci impegniamo per
                    portare ovunque questa visione, coinvolgendo dai più grandi ai più piccoli.
                </p>
                <p>
                    Arrampicata, sport, emozione e vita all’aria aperta sono parte integrante del nostro mondo.
                </p>
            </div>            
            <div class="col-md-4" id="chisiamoimg"></div>
        </div>
        <div class="row text-center my-5">
                <p><b>La nostra missione è far conoscere a tutti questo mondo, dai più grandi ai più piccoli.</b></p>
        </div>
        <div class="row">          
            <div class="col-md-4" id="arrampicatatuttiimg"></div>
            <div class="col-md-8 py-5">
                <h1>L’Arrampicata A Portata Di Tutti
                </h1>
                <p>
                    Per avverare la nostra missione noleggiamo le nostre strutture di arrampicata realizzate in legno o finta roccia.
                    Ma non ci limitiamo a questo: da quest’anno abbiamo ampliato la nostra offerta con slackline e zip line per rendere l’esperienza outdoor più completa e divertente per tutti.
                    
                </p>
                
            </div>  
        </div>
    </div>
</div>